" ---- Settings

set scrolloff=8
set visualbell
set ignorecase
set smartcase
set timeoutlen=400
" Not yet supported: set whichwrap=<,>,h,l
set clipboard=unnamed
set nooldundo
set showcmd

sethandler <C-c> a:ide
sethandler <C-x> a:ide
sethandler <C-v> a:ide
sethandler <C-z> a:ide
sethandler <C-y> a:ide
sethandler <C-a> a:ide
sethandler <C-s> a:ide
sethandler <C-h> a:ide
sethandler <C-k> a:ide


" ---- Keybindings

let mapleader = " "

" Repeat with ;, place with m, delete to null with m and X
nnoremap ; .
nnoremap m r
noremap f "0x
nnoremap F 0"0D

" Search with ' and @
noremap ' /
noremap @ ?
noremap v' v/
noremap v@ v?

" Cursor movement
noremap H ^
noremap J }
noremap K {
noremap L $

" Copy paste
noremap t y
nnoremap T y$
nnoremap r p :action AutoIndentLines<CR>
vnoremap r P :action AutoIndentLines<CR>
noremap R P :action AutoIndentLines<CR>

" Line and block shifting
noremap M J
noremap ( :action MoveLineUp<CR>
noremap ) :action MoveLineDown<CR>
nnoremap > mz>>'z
vnoremap > >gv
nnoremap < mz<<'z
vnoremap < <gv
nnoremap <CR> o<Esc>
nnoremap <S-CR> O<Esc>

" Undo, redo, search highlighting, static casing, visual block
nnoremap u u<Esc>
vnoremap u <Esc>u<Esc>
nnoremap U <C-r>
nnoremap <Esc> :nohl<CR>
nnoremap ~ ~h
noremap S <C-v>

" Sensible write and close
nnoremap <leader>w :w<CR>
nnoremap <leader><leader>w :wa<CR>
nnoremap <leader>q :q<CR>
nnoremap <leader><leader>q :qa<CR>

" Inner shortcuts (excludes ')
nnoremap c" ci"
nnoremap c( ci(
nnoremap c) ci)
nnoremap c{ ci{
nnoremap c} ci}
nnoremap c[ ci[
nnoremap c] ci]
nnoremap ct cit
nnoremap c< ci<
nnoremap c> ci>

nnoremap d" di"
nnoremap d( di(
nnoremap d) di)
nnoremap d{ di{
nnoremap d} di}
nnoremap d[ di[
nnoremap d] di]
nnoremap dt dit
nnoremap d< di<
nnoremap d> di>

nnoremap v" vi"
nnoremap v( vi(
nnoremap v) vi)
nnoremap v{ vi{
nnoremap v} vi}
nnoremap v[ vi[
nnoremap v] vi]
nnoremap vt vt
nnoremap v< v<
nnoremap v> v>

" Code navigation and modification
noremap gj :action GotoImplementation<CR>
noremap gk :action FindUsages<CR>
noremap gl :action GotoDeclaration<CR>
noremap gn :action QuickJavaDoc<CR>
noremap gi :action OptimizeImports<CR>
noremap go :action ReformatCode<CR>
noremap <leader>/ :action CommentByLineComment<CR>
vnoremap <leader>s :action SurroundWith<CR>
vnoremap <leader>e :action ExtractMethod<CR>
noremap <leader>r :action RenameElement<CR>
noremap <leader>d :action SelectIn<CR>
noremap <leader>f :action RevealIn<CR>

" Launchers
noremap <leader>; :action GotoAction<CR>
noremap <leader>o :action SearchEverywhere<CR>
noremap <leader>n :action FindInPath<CR>
noremap <leader>m :action ReplaceInPath<CR>
noremap gh :action Replace<CR>
noremap gm :action NewFile<CR>
noremap <C-,> :action ShowSettings<CR>

" Pageup/Pagedown, Forward/Back, NextError/PreviousError
noremap <A-j> <C-f>
noremap <A-k> <C-b>
noremap <A-u> :action Back<CR>
noremap <A-i> :action Forward<CR>
noremap <leader>u :action GotoPreviousError<CR>
noremap <leader>i :action GotoNextError<CR>

" Windows and tabs
noremap <leader>p :action PinActiveEditorTab<CR>
noremap <leader>h <C-w>h
noremap <leader>j <C-w>j
noremap <leader>k <C-w>k
noremap <leader>l <C-w>l
noremap <leader>v :vsplit<CR>
noremap <leader>c :split<CR>
noremap <leader>1 :action GoToTab1<CR>
noremap <leader>2 :action GoToTab2<CR>
noremap <leader>3 :action GoToTab3<CR>
noremap <leader>4 :action GoToTab4<CR>
noremap <leader>5 :action GoToTab5<CR>
noremap <leader>6 :action GoToTab6<CR>
noremap <leader>7 :action GoToTab7<CR>
noremap <leader>8 :action GoToTab8<CR>
noremap <leader>9 :action GoToTab9<CR>

" Reload configuration
noremap <leader><leader>r :so ~\.ideavimrc<CR>j
