" --------------------- Settings
set scrolloff=8
set visualbell
set ignorecase
set smartcase
set timeoutlen=400
set whichwrap=<,>,h,l
set clipboard=unnamed
set nooldundo
set showcmd
set hls

sethandler <C-c> a:ide
sethandler <C-x> a:ide
sethandler <C-v> a:ide
sethandler <C-z> a:ide
sethandler <C-y> a:ide
sethandler <C-a> a:ide
sethandler <C-s> a:ide
sethandler <C-f> a:ide
sethandler <C-h> a:ide
sethandler <C-o> a:ide
sethandler <C-;> a:ide
sethandler <C-k> a:ide
sethandler <C-n> a:ide
sethandler <C-m> a:ide


" --------------------- Plugins
Plug 'tpope/vim-surround'


" --------------------- Keybindings
let mapleader = " "

" Note: noremaps are split into n/x/o-noremaps to fix live templates

" Cursor, line and block movement
nnoremap f b
xnoremap f b
onoremap f b
nnoremap F B
xnoremap F B
onoremap F B
nnoremap H ^
xnoremap H ^
onoremap H ^
nnoremap J }
xnoremap J }
onoremap J }
nnoremap K {
xnoremap K {
onoremap K {
nnoremap L $
xnoremap L $
onoremap L $
nnoremap M J
xnoremap M J
onoremap M J
noremap \ :action MoveLineDown<CR>
noremap / :action MoveLineUp<CR>
nnoremap z mz>>'z
vnoremap z >gv
nnoremap , mz<<'z
vnoremap , <gv

" Search
noremap ; /
noremap : ?
nnoremap g; viwy/<C-r>0
vnoremap g; y/<C-r>0
nnoremap @ :
xnoremap @ :
onoremap @ :
nnoremap <Esc> :nohl<CR>

" Copy paste
nnoremap t y
xnoremap t y
onoremap t y
nnoremap T y$
nnoremap r p:action AutoIndentLines<CR>
vnoremap r P:action AutoIndentLines<CR>
noremap R P:action AutoIndentLines<CR>

" Text modification
nnoremap x s
xnoremap x s
onoremap x s
nnoremap s "0x
xnoremap s "0x
onoremap s "0x
nnoremap S 0"0D
xnoremap S 0"0D
onoremap S 0"0D
nnoremap m r
xnoremap m r
onoremap m r
nnoremap b <C-v>
xnoremap b <C-v>
onoremap b <C-v>
nnoremap ' ~h
vnoremap ' ~
nnoremap <CR> o<Esc>
nnoremap <S-CR> O<Esc>
nnoremap u u<Esc>
vnoremap u <Esc>u<Esc>
nnoremap U <C-r>

" Inner shortcuts
nnoremap c" ci"
nnoremap c' ci'
nnoremap c( 0f(ci(
nnoremap c) 0f)ci)
nnoremap c{ ci{
nnoremap c} ci}
nnoremap c[ 0f[ci[
nnoremap c] 0f]ci]
nnoremap ct cit
nnoremap c< ci<
nnoremap c> ci>
nnoremap cw ciw
nnoremap cW ciW

nnoremap d" di"
nnoremap d' di'
nnoremap d( 0f(di(
nnoremap d) 0f)di)
nnoremap d{ di{
nnoremap d} di}
nnoremap d[ 0f[di[
nnoremap d] 0f]di]
nnoremap dt dit
nnoremap d< di<
nnoremap d> di>
nnoremap dw diw
nnoremap dW diW

nnoremap v" vi"
nnoremap v' vi'
nnoremap v( 0f(vi(
nnoremap v) 0f)vi)
nnoremap v{ vi{
nnoremap v} vi}
nnoremap v[ 0f[vi[
nnoremap v] 0f]vi]
nnoremap v< vi<
nnoremap v> vi>
nnoremap vw viw
nnoremap vW viW

nnoremap t" yi"
nnoremap t' yi'
nnoremap t( mz0f(yi(`z
nnoremap t) mz0f)yi)`z
nnoremap t{ yi{
nnoremap t} yi}
nnoremap t[ mz0f[yi[`z
nnoremap t] mz0f]yi]`z
nnoremap t< yi<
nnoremap t> yi>
nnoremap tw yiw
nnoremap tW yiW

" Sensible write and close
nnoremap <leader>w :w<CR>
nnoremap <leader><leader>w :wa<CR>
nnoremap <leader>q :q<CR>
nnoremap <leader><leader>q :qa<CR>

" Code navigation and modification
noremap gh :action QuickJavaDoc<CR>
noremap gj :action GotoDeclaration<CR>
noremap gk :action GotoImplementation<CR>
noremap gl :action FindUsages<CR>
noremap gi :action OptimizeImports<CR>
noremap go :action ReformatCode<CR>
nnoremap gn viw:action Find<CR>
nnoremap gm viw:action Replace<CR>
vnoremap gm :action Replace<CR>
noremap <leader>' :action CommentByLineComment<CR>
vnoremap <leader>s :action SurroundWith<CR>
vnoremap <leader>e :action ExtractMethod<CR>
noremap <leader>r :action RenameElement<CR>
noremap <leader>d :action SelectIn<CR>
noremap <leader>f :action RevealIn<CR>

" Launchers
noremap <leader>; :action SearchEverywhere<CR>
noremap <leader>o :action GotoFile<CR>
nnoremap <leader>n viw:action FindInPath<CR>
vnoremap <leader>n :action FindInPath<CR>
noremap <leader>m viw:action ReplaceInPath<CR>
vnoremap <leader>m :action ReplaceInPath<CR>
nnoremap gu :action NewFile<CR>
xnoremap gu :action NewFile<CR>
onoremap gu :action NewFile<CR>

" Pageup/Pagedown, Forward/Back, NextError/PreviousError
noremap <A-j> <C-f>
noremap <A-k> <C-b>
noremap <A-u> :action Back<CR>
noremap <A-i> :action Forward<CR>
noremap <leader>u :action GotoPreviousError<CR>
noremap <leader>i :action GotoNextError<CR>

" Windows and tabs
nnoremap p :action PinActiveEditorTab<CR>
xnoremap p :action PinActiveEditorTab<CR>
onoremap p :action PinActiveEditorTab<CR>
noremap <leader>b :action Annotate<CR>
noremap <leader>h <C-w>w
noremap <leader>j <C-w>w
noremap <leader>k <C-w>w
noremap <leader>l <C-w>w
noremap <leader>v :vsplit<CR>
noremap <leader>c :split<CR>
noremap <leader>1 :action GoToTab1<CR>
noremap <leader>2 :action GoToTab2<CR>
noremap <leader>3 :action GoToTab3<CR>
noremap <leader>4 :action GoToTab4<CR>
noremap <leader>5 :action GoToTab5<CR>
noremap <leader>6 :action GoToTab6<CR>
noremap <leader>7 :action GoToTab7<CR>
noremap <leader>8 :action GoToTab8<CR>
noremap <leader>9 :action GoToTab9<CR>

" Reload configuration
noremap <leader><leader>r :so ~\.ideavimrc<CR>l

" Clear existing search highlights
:nohl
