/*
 * Firefox configuration
*/

/* Top level bookmark folders and bookmarks */
toolbarbutton.bookmark-item {
    padding-top: 0 !important;
    font-size: 13px !important;
}

/* Nested bookmark folders */
#PersonalToolbar,
#PersonalToolbar menu {
  font-size: 13px !important;
  align-content: center !important;
}

/* Nested bookmarks */
#PersonalToolbar menuitem {
  font-size: 13px !important;
}

/* Bookmarks container (entire row) */
#personal-toolbar-empty-description,
#PersonalToolbar .toolbarbutton-1,
toolbarbutton.bookmark-item:not(.subviewbutton) {
  margin: 0px !important;
}

toolbarseperator {
  padding-bottom: 1px !important;
}

/* Search bar */
#urlbar-container {
  font-size: 15px !important;
}

/* Tab font */
.tab-label {
  font-size: 14px !important;
}

/* Tab height */
scrollbox {
  --tab-min-height: 30px !important;
}

/* Move the titlebar buttons top right */
.titlebar-button {
  margin-right: -6px !important;
  margin-top: -19px !important;
}
