/* Black UI background */
.nav-files-container,
.nav-header,
.workspace-tab-header-container {
    background: #000000;
    border-bottom: none;
}

/* Black active tab title foreground */
.workspace-tab-header.is-active .workspace-tab-header-inner-title {
    color: #000000;
}

/* Grey inactive tab title foreground */
.workspace-tab-header-inner-title {
    color: #c1c1c1;
}

/* Dark grey active file background */
body:not(.is-grabbing) .nav-file-title.is-active:hover,
body:not(.is-grabbing) .nav-folder-title.is-active:hover,
.nav-file-title.is-active,
.nav-folder-title.is-active {
    background: #424242;
}

/* Dark grey hover file background */
body:not(.is-grabbing) .tree-item-self.is-clickable:hover {
    background: #424242;
}

/* Hidden tab bar buttons */
.mod-left-split .workspace-tab-header-container-inner {
    visibility: hidden;
}

/* File explorer padding from window border */
.nav-files-container {
    padding-left: 20px;
}

/* File explorer item padding */
:is(.nav-folder, .nav-file) :is(.nav-folder-title, .nav-file-title),
.vertical-tab-nav-item,
.tree-item-self,
button {
    padding: 4px;
}

/* White file explorer folder text foreground */
.nav-folder-title-content {
    color: #ffffff;
}

/* File explorer file text foreground */
.nav-file-title-content {
    color: #bccdff;
}

/* File explorer file text foreground */
.nav-file-title-content.is-grabbing {
    color: #bccdff;
}

/* Solid black editor text foreground */
.cm-line {
    color: #000000;
}

/* Grey line numbers */
.cm-lineNumbers {
    color: #606060;
}

/* Editor viewport */
.cm-scroller {
    background: #d5e3d1;
	border: 1px solid #187400;
}

/* Purple file header title */
.inline-title {
    color: #5f5fff;
	margin-right: auto;
	margin-left: auto;
}

/* Grey tear line between editor and line numbers, plus background */
.cm-content {
    border: 1px solid grey;
	background: #fffcf4;
    padding-top: 40px !important;
	padding-right: 40px !important;
	padding-left: 40px !important;
}

/* Less padding between line numbers and tear line */
.cm-gutters {
    padding-right: 10px !important;
}

/* Longer max line length */
.markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer,
.markdown-source-view.mod-cm6.is-readable-line-width .cm-content,
.markdown-source-view.mod-cm6.is-readable-line-width .cm-line {
    max-width: 1400px;
}

/* Link colours */
.cm-s-obsidian span.cm-link {
    color: #0588d5;
	font-weight: bold;
	font-style: italic
}

/* Header colours */
.cm-s-obsidian span.cm-link:hover {
    color: #0588d5;
	font-weight: bold;
	font-style: italic
}

.cm-header-1 {
    text-decoration: underline;
}

.cm-header-2 {
    color: blue;
}

.cm-header-3 {
    color: green;
}

.cm-header-4 {
    color: brown;
}

.cm-header-5 {
    color: red;
}

.cm-header-6 {
    color: purple;
}
